Repository woowa-techcamp-2020/bmart-10, pull requests merged in 2020-08, with the labels that each got.

#13 PR: database 기본 로직 추가
  backend/package.json
  backend/src/daos/DAO.ts
  backend/src/daos/data-access-object.ts
  backend/src/daos/goods.dao.ts
  backend/src/daos/pool-option.ts
  backend/src/types/dto/goods.dto.ts
  backend/src/util/read-csv-goods-data.ts
  backend/yarn.lock
Labels: DB, backend

#18 카테고리 버튼 컴포넌트 생성
  frontend/package.json
  frontend/public/asset/icon/bread.svg
  frontend/public/asset/icon/croissant.svg
  frontend/public/asset/icon/egg.svg
  frontend/public/asset/icon/hot-dog.svg
  frontend/public/asset/icon/icecream.svg
  frontend/public/asset/icon/meal-kit.svg
  frontend/public/asset/icon/milk.svg
  frontend/public/asset/icon/salad.svg
  frontend/public/asset/icon/snacks.svg
  frontend/public/asset/icon/soap.svg
  frontend/public/asset/icon/three-lines.svg
  frontend/src/components/App.tsx
  frontend/src/components/categoryButtonArea/CategoryButton.tsx
  frontend/src/components/categoryButtonArea/CategoryButtonsHeader.tsx
  frontend/src/components/categoryButtonArea/index.tsx
  frontend/src/pages/home.tsx
  frontend/src/stylesheets/index.css
  frontend/yarn.lock
Labels: frontend

#20 PR 경로 변경 수정
  frontend/src/components/categoryButtonArea/CategoryButton.tsx
  frontend/src/components/categoryButtonArea/CategoryButtonsHeader.tsx
  frontend/src/components/categoryButtonArea/index.tsx
Labels: frontend

#23 Feature/file name change
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/cart/index.ts
  frontend/src/components/category/index.ts
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/common/Layout/index.tsx
  frontend/src/components/common/Layout/logo.png
  frontend/src/components/common/Svg.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/home/index.ts
  frontend/src/components/layout/footer.tsx
  frontend/src/components/login/index.ts
  frontend/src/components/menu/index.ts
  frontend/src/components/register/index.ts
  frontend/src/components/search/index.ts
  frontend/src/components/svg.tsx
  frontend/src/constants.ts
  frontend/src/constatns/message.ts
  frontend/src/constatns/routes.ts
  frontend/src/constatns/style.ts
  frontend/src/index.tsx
  frontend/src/pages/Cart.tsx
  frontend/src/pages/Category.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Menu.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/Search.tsx
  frontend/src/pages/index.ts
  frontend/src/router.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#17 PR: Schema 수정에 따른 DAO, DTO 갱신
  backend/src/daos/goods.dao.ts
  backend/src/types/dto/goods.dto.ts
  backend/src/util/read-csv-goods-data.ts
Labels: DB, backend

#25 PR: 광고 Banner 컴포넌트
  frontend/package.json
  frontend/src/components/home/Banner/Advertisement.tsx
  frontend/src/components/home/Banner/Indicator.tsx
  frontend/src/components/home/Banner/index.tsx
  frontend/yarn.lock
Labels: frontend

#27 프론트엔드 로그인 페이지 구현
  frontend/public/asset/images/gom.png
  frontend/public/asset/images/logo.png
  frontend/public/asset/images/logo_horizon.png
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/constants/routes.ts
  frontend/src/pages/Login.tsx
  frontend/src/router.tsx
Labels: design, frontend

#28 메인 상품 컴포넌트
  frontend/public/asset/icon/refresh.svg
  frontend/public/asset/img/1463997072538l0.jpg
  frontend/public/asset/img/1531993158257l0.jpg
  frontend/public/asset/img/1573711443599l0.jpg
  frontend/public/asset/img/1583285919646l0.jpg
  frontend/public/asset/img/15863312604l0.jpg
  frontend/public/asset/img/1592985466972l0.jpg
  frontend/public/asset/img/1593066870177l0.jpg
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/home/CategoryButtonArea/CategoryButton.tsx
  frontend/src/components/home/CategoryButtonArea/CategoryButtonsHeader.tsx
  frontend/src/components/home/CategoryButtonArea/index.tsx
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/ItemTitle.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/ChangeItemsButton.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/index.ts
  frontend/src/constants/message.ts
  frontend/src/pages/Home.tsx
  frontend/tsconfig.json
Labels: frontend

#30 feat: 프론트엔드 레이아웃 수정
  frontend/src/components/common/Layout/index.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#35 PR: 메인상품 대표 상품 컴포넌트
  frontend/src/components/home/Recommend/Header.tsx
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/components/home/Recommend/Menu.tsx
  frontend/src/components/home/Recommend/Menus.tsx
  frontend/src/components/home/Recommend/Section.tsx
  frontend/src/components/home/Recommend/index.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#37 PR: 검색 바 컴포넌트 제작
  frontend/package.json
  frontend/src/components/home/Banner/index.tsx
  frontend/src/components/search/Searchbar/DeleteButton.tsx
  frontend/src/components/search/Searchbar/FixedBox.tsx
  frontend/src/components/search/Searchbar/Input.tsx
  frontend/src/components/search/Searchbar/SeachIcon.tsx
  frontend/src/components/search/Searchbar/index.tsx
  frontend/src/components/search/index.ts
  frontend/src/pages/Search.tsx
  frontend/yarn.lock
Labels: frontend

#36 feat: 프론트엔드 로그인 페이지 수정
  frontend/public/asset/images/logo_horizon.png
  frontend/src/constants/routes.ts
  frontend/src/pages/Login.tsx
  frontend/src/router.tsx
Labels: frontend

#39 release: Fix routing error
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/Recommend/Header.tsx
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/router.tsx
Labels: release

#41 메인페이지 상품 이미지 갤러리 추가
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/ItemTitle.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/MainItemGallery/GalleryHeader.tsx
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
  frontend/src/components/home/MainItemGallery/index.tsx
Labels: frontend

#43 Revert "메인페이지 상품 이미지 갤러리 추가"
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/ItemTitle.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/MainItemGallery/GalleryHeader.tsx
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
  frontend/src/components/home/MainItemGallery/index.tsx
Labels: frontend

#44 메인페이지 상품 이미지 갤러리 추가
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/components/home/MainItem/ItemContext.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/ItemTitle.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/MainItemGallery/GalleryHeader.tsx
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
  frontend/src/components/home/MainItemGallery/index.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#45 docs: Update README.md
  README.md
Labels: documentation

#48 PR: prettier 설정파일 생성
  .prettierrc.js
Labels: bug

#52 프론트엔드 가로 슬라이더 구현
  frontend/src/components/common/Slider/Horizontal.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/pages/Home.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#57 PR: 당겨요 컴포넌트
  frontend/src/components/common/Layout/index.tsx
  frontend/src/components/home/PullTo/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#58 refactor: warnning 제거
  frontend/src/App.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItemContainer/ChangeItemsButton.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#59 fix: 프론트엔드 warning 제거
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/common/Slider/Horizontal.tsx
  frontend/src/components/home/Recommend/Header.tsx
  frontend/src/pages/Login.tsx
  frontend/src/router.tsx
Labels: frontend

#62 PR: 상품검색 API
  backend/src/apis/goodsAPI.ts
  backend/src/apis/index.ts
  backend/src/daos/goods.dao.ts
  backend/src/server.ts
  backend/src/types/APIResponse.ts
  backend/src/types/dto/goods.dto.ts
Labels: backend

#66 feat: Create deploy.yml
  .github/workflows/deploy.yml
Labels: documentation

#68 PR: 레이아웃에서 inner scroll로 내용을 표시하던 부분 수정
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/common/Layout/index.tsx
  frontend/src/constants/layout.ts
Labels: frontend

#70 home 화면 '지금필요한 생필품' 수정
  frontend/src/pages/Home.tsx
Labels: bug

#73 HOTFIX: 공통컴포넌트로 옮긴 Banner 경로 수정
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/pages/Category.tsx
Labels: bug

#74 git action 파일 수정
  .github/workflows/deploy.yml
Labels: release

#75 HOTFIX: 프론트엔드 홈 페이지 경로 오류
  frontend/src/pages/Home.tsx
Labels: bug

#77 git action 파일 수정
  .github/workflows/deploy.yml
Labels: release

#87 PR: 땡겨요 컴포넌트의 크기를 상수로 관리
  frontend/src/constants/layout.ts
  frontend/src/pages/Home.tsx
Labels: frontend

#88 프론트엔드 가로 슬라이더 컴포넌트 수정
  frontend/src/components/common/Slider/Horizontal.test.tsx
  frontend/src/components/common/Slider/Horizontal.tsx
  frontend/src/pages/Home.tsx
Labels: frontend, test

#89 PR: 대표상품 컴포넌트 최적화
  frontend/src/components/home/Recommend/Content.tsx
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/components/home/Recommend/Menus.tsx
  frontend/src/components/home/Recommend/index.tsx
Labels: frontend

#90 PR: 검색바 hooks 컴포넌트로 변경
  frontend/src/components/search/History/HistoryText.tsx
  frontend/src/components/search/History/index.tsx
  frontend/src/components/search/Searchbar/DeleteButton.tsx
  frontend/src/components/search/Searchbar/FixedBox.tsx
  frontend/src/components/search/Searchbar/Input.tsx
  frontend/src/components/search/Searchbar/SeachIcon.tsx
  frontend/src/components/search/Searchbar/index.tsx
  frontend/src/pages/Search.tsx
Labels: frontend

#91 제품 상세 페이지 구현
  frontend/src/components/common/CategoryMenu.tsx
  frontend/src/components/common/Fold.tsx
  frontend/src/components/common/ItemList.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/goods/DeliveryInfo.tsx
  frontend/src/components/goods/InfoSummary.tsx
  frontend/src/components/goods/ReturnExchangeInfo.tsx
  frontend/src/components/goods/StyleComponent.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/components/home/MainItem/ItemContent.tsx
  frontend/src/components/home/MainItem/ItemContext.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/MainItemGallery/index.tsx
  frontend/src/constants/routes.ts
  frontend/src/mock.ts
  frontend/src/pages/Category.tsx
  frontend/src/pages/Goods.tsx
  frontend/src/pages/index.ts
  frontend/src/router.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#93 PR: 검색 바 텍스트 입력, 텍스트 삭제 테스트
  frontend/src/components/search/Searchbar/Seachbar.test.tsx
Labels: test

#97 PR: 검색 결과 기능 제공
  backend/package.json
  backend/src/apis/goodsAPI.ts
  backend/src/server.ts
  backend/yarn.lock
  frontend/src/components/search/Result/GoodInformation.tsx
  frontend/src/components/search/Result/LazyImage.tsx
  frontend/src/components/search/Result/index.tsx
  frontend/src/components/search/Result/placeholder.jpg
  frontend/src/components/search/Searchbar/DeleteButton.tsx
  frontend/src/components/search/Searchbar/SeachIcon.tsx
  frontend/src/components/search/Searchbar/index.tsx
  frontend/src/constants/API.ts
  frontend/src/contexts/SearchContext.tsx
  frontend/src/fetch/goods/getGoodsByName.ts
  frontend/src/pages/Search.tsx
  frontend/src/types/APIResponse.ts
  frontend/src/types/Good.ts
Labels: frontend

#96 상품 수량 입력 컴포넌트 테스트
  frontend/src/components/goods/Counter.test.tsx
  frontend/src/components/goods/Counter.tsx
  frontend/src/components/goods/StyleComponent.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/components/home/MainItem/ItemContent.tsx
Labels: frontend, test

#99 프론트엔드 장바구니 페이지 및 팝업 컴포넌트 구현
  frontend/public/asset/images/cart_bear.png
  frontend/src/App.tsx
  frontend/src/components/cart/CartHeader.tsx
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/cart/CartTotal.tsx
  frontend/src/components/cart/NotCartItem.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/components/cart/index.ts
  frontend/src/components/common/CheckBox.tsx
  frontend/src/components/common/PopUp/index.tsx
  frontend/src/components/common/ShadowBar.tsx
  frontend/src/components/common/index.ts
  frontend/src/constants/message.ts
  frontend/src/constants/style.ts
  frontend/src/context/index.ts
  frontend/src/context/popupContext.tsx
  frontend/src/pages/Cart.tsx
Labels: design, frontend

#109 프론트엔드 상품 상세 페이지 장바구니 담기 기능 구현
  frontend/src/ItemData.json
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/components/common/PopUp/index.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/style.ts
  frontend/src/pages/Cart.tsx
  frontend/src/types/Cart.ts
Labels: design, frontend

#105 PR: 상품 검색 기록 기능 추가
  backend/src/apis/goodsAPI.ts
  frontend/src/components/search/History/index.tsx
  frontend/src/components/search/Searchbar/index.tsx
  frontend/src/contexts/SearchContext.tsx
  frontend/src/fetch/goods/getGoodsByName.ts
  frontend/src/utils/localstorage.ts
Labels: backend, frontend

#104 feat: README 파일 수정
  README.md
Labels: documentation

#107 style: 홈페이지 타이틀 및 파비콘 수정
  frontend/public/favicon.ico
  frontend/public/index.html
Labels: design

#121 categoryAPI : 소분류 카테고리 리스트, 대분류 카테고리 상품, 소분류 카테고리 상품
  backend/.vscode/launch.json
  backend/package.json
  backend/src/apis/categoryAPI.ts
  backend/src/apis/index.ts
  backend/src/daos/category.dao.ts
  backend/src/util/query.ts
  backend/yarn.lock
  frontend/public/asset/icon/animal.svg
  frontend/public/asset/icon/baby.svg
  frontend/public/asset/icon/bakery.svg
  frontend/public/asset/icon/beauty.svg
  frontend/public/asset/icon/fruit.svg
  frontend/public/asset/icon/meat.svg
  frontend/public/asset/icon/noodle.svg
  frontend/public/asset/icon/seafood.svg
  frontend/public/asset/icon/vegetable.svg
  frontend/src/components/home/CategoryButtonArea/CategoryButton.tsx
  frontend/src/components/home/CategoryButtonArea/index.tsx
  frontend/src/constants/message.ts
Labels: backend

#124 프론트엔드 장바구니 페이지 상품 선택 및 수량 변경 기능 구현
  frontend/src/App.tsx
  frontend/src/components/cart/CartHeader.tsx
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/cart/CartTotal.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/constants/style.ts
  frontend/src/context/CartContext.tsx
  frontend/src/context/index.ts
  frontend/src/pages/Cart.tsx
Labels: frontend

#122 PR: 대표상품 컴포넌트 UX 향상
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/LazyImage.tsx
  frontend/src/components/common/placeholder.jpg
  frontend/src/components/home/Recommend/Content.tsx
  frontend/src/components/home/Recommend/Goods/Detail.tsx
  frontend/src/components/home/Recommend/Goods/ItemPrice.tsx
  frontend/src/components/home/Recommend/Goods/index.tsx
  frontend/src/components/home/Recommend/Header.tsx
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/components/home/Recommend/Menus.tsx
  frontend/src/components/home/Recommend/index.tsx
  frontend/src/constants/layout.ts
  frontend/src/types/RecommandGoods.ts
Labels: frontend

#125 HOTFIX!: 프론트엔드 context 폴더 변경
  frontend/src/App.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/common/PopUp/index.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/contexts/CartContext.tsx
  frontend/src/contexts/PopupContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/pages/Cart.tsx
Labels: frontend

#128 PR: 배포 스크립트 변경
  .github/workflows/deploy.yml
  scripts/backend.deploy.sh
  scripts/frontend.deploy.sh
Labels: release

#130 PR: README.md 업데이트
  README.md
  backend/.env.sample
  frontend/.env.sample
Labels: documentation

#132 프론트엔드 장바구니 페이지 상품 추가, 삭제, 선택한 상품 비우기 기능 구현
  frontend/src/components/cart/CartHeader.tsx
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/cart/CartTotal.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/contexts/CartContext.tsx
  frontend/src/pages/Cart.tsx
Labels: frontend

#133 카테고리 컴포넌트 서버연동
  backend/src/daos/category.dao.ts
  frontend/src/components/common/CategoryMenu.tsx
  frontend/src/components/common/ItemList.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/home/CategoryButtonArea/CategoryButton.tsx
  frontend/src/components/home/CategoryButtonArea/index.tsx
  frontend/src/components/home/MainItem/ItemContext.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/constants/message.ts
  frontend/src/fetch/category/index.ts
  frontend/src/fetch/request.ts
  frontend/src/pages/Category.tsx
  frontend/src/utils/func.ts
Labels: frontend

#142 userAPI 수정
  backend/src/daos/category.dao.ts
  backend/src/daos/user.dao.ts
  backend/src/util/passport.ts
Labels: backend, bug

#135 백엔드 장바구니 api 구현
  backend/src/apis/cartAPI.ts
  backend/src/apis/index.ts
  backend/src/daos/cart.dao.ts
  backend/src/types/dto/cart.dto.ts
Labels: backend

#145 PR: 대표상품 API 제작 및 적용
  backend/src/apis/index.ts
  backend/src/apis/recommendAPI.ts
  backend/src/daos/goods.dao.ts
  frontend/src/components/home/Recommend/Goods/index.tsx
  frontend/src/components/home/Recommend/List.tsx
  frontend/src/components/home/Recommend/Menus.tsx
  frontend/src/components/home/Recommend/index.tsx
  frontend/src/fetch/goods/getRecommendGoods.ts
Labels: backend, frontend

#139 goodsAPI 중 goodId로 상품 상세 정보 받는 API
  backend/src/apis/goodsAPI.ts
  backend/src/daos/data-access-object.ts
  backend/src/daos/goods.dao.ts
Labels: backend

#146 feat: 프론트엔드 로그인 페이지 api 연동
  backend/src/apis/userAPI.ts
  frontend/src/constants/message.ts
  frontend/src/fetch/user/emailCheck.ts
  frontend/src/fetch/user/getToken.ts
  frontend/src/fetch/user/index.ts
  frontend/src/fetch/user/userRegister.ts
  frontend/src/pages/Login.tsx
Labels: frontend

#147 main 화면 서버 연동, 로그인 일부 문제 수정
  backend/src/apis/categoryAPI.ts
  backend/src/daos/category.dao.ts
  backend/src/daos/goods.dao.ts
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/common/CategoryMenu.tsx
  frontend/src/components/common/ItemList.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
  frontend/src/components/home/MainItemGallery/index.tsx
  frontend/src/fetch/category/index.ts
  frontend/src/fetch/goods/getGoodsByGoodId.ts
  frontend/src/fetch/index.ts
  frontend/src/mock.ts
  frontend/src/pages/Category.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/Cart.ts
  frontend/src/types/Good.ts
  frontend/src/types/ItemType.ts
  frontend/src/utils/func.ts
Labels: frontend

#150 PR: 검색페이지 고도화 & 메뉴페이지 생성
  frontend/src/components/menu/SubMenu.tsx
  frontend/src/components/menu/dummy.catetory.ts
  frontend/src/components/menu/index.ts
  frontend/src/components/menu/index.tsx
  frontend/src/components/search/History/HistoryText.tsx
  frontend/src/components/search/Result/GoodInformation.tsx
  frontend/src/components/search/Result/index.tsx
  frontend/src/components/search/Searchbar/index.tsx
  frontend/src/contexts/SearchContext.tsx
  frontend/src/pages/Menu.tsx
  frontend/src/router.tsx
Labels: frontend

#154 프론트엔드 회원가입 페이지 구현
  frontend/public/asset/icon/login.svg
  frontend/public/asset/icon/logout.svg
  frontend/src/components/common/CheckBox.tsx
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/common/PopUp/index.tsx
  frontend/src/components/common/Svg.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/style.ts
  frontend/src/fetch/user/userRegister.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/stylesheets/index.css
Labels: frontend

#151 프론트엔드 장바구니 페이지 api 추가
  backend/src/daos/cart.dao.ts
  backend/src/types/dto/cart.dto.ts
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/CartList/index.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/contexts/CartContext.tsx
  frontend/src/fetch/cart/createCartItem.ts
  frontend/src/fetch/cart/getCartList.ts
  frontend/src/fetch/cart/index.ts
  frontend/src/fetch/cart/removeCartItem.ts
  frontend/src/fetch/cart/updateAllCartItemChecked.ts
  frontend/src/fetch/cart/updateCartIemAmount.ts
  frontend/src/fetch/cart/updateCartItemChecked.ts
  frontend/src/pages/Cart.tsx
  frontend/src/types/Cart.ts
Labels: backend, frontend

#152 main API 개발 및 main 페이지와 연동
  backend/src/apis/categoryAPI.ts
  backend/src/apis/goodsAPI.ts
  backend/src/daos/goods.dao.ts
  backend/src/util/util.ts
  frontend/src/components/home/MainItem/ItemContext.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/fetch/category/index.ts
  frontend/src/pages/Home.tsx
Labels: backend, frontend

#156 HOTFIX!: 프론트엔드 장바구니 아이템 타입 오류 수정
  frontend/src/components/goods/index.tsx
Labels: frontend

#159 PR: 홈화면 대표상품 컴포넌트 fixed 위치 수정 + 검색 결과에 할인율 표시
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/components/home/Recommend/Content.tsx
  frontend/src/components/home/Recommend/Menus.tsx
  frontend/src/components/search/Result/GoodInformation.tsx
  frontend/src/components/search/Result/index.tsx
Labels: frontend

#158 feat: 찜버튼 효과 추가
  frontend/src/components/home/MainItem/ItemImg.tsx
Labels: frontend

#157 프론트엔드 테스트 후 일부 수정
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/components/home/CategoryButtonArea/CategoryButton.tsx
  frontend/src/pages/Login.tsx
Labels: frontend

#160 메인 아이템, 담기 스타일 수정, 값 콤마 추가, 이미지 url 추가
  frontend/src/components/goods/StyleComponent.tsx
  frontend/src/components/goods/index.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
Labels: frontend

#161 장바구니 페이지 개수 기능 수정
  frontend/src/components/cart/CartList/CartItem.tsx
  frontend/src/components/cart/OrderBtn.tsx
  frontend/src/components/common/Layout/Footer.tsx
Labels: frontend

#163 fix: warning 제거
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
Labels: frontend

#167 PR: 대표상품 정보가 wrapper의 크기를 넘어서는 문제 수정
  frontend/src/components/home/Recommend/Content.tsx
  frontend/src/components/home/Recommend/Goods/Detail.tsx
  frontend/src/components/home/Recommend/Goods/ItemPrice.tsx
  frontend/src/constants/layout.ts
Labels: frontend

#166 apidoc 작성된 부분 일부 수정
  backend/src/apis/cartAPI.ts
  backend/src/apis/userAPI.ts
Labels: backend

#171 MainItem, CategoryButton 스타일 수정
  frontend/src/components/home/CategoryButtonArea/CategoryButton.tsx
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItem/ItemPrice.tsx
  frontend/src/components/home/MainItem/index.tsx
  frontend/src/components/home/MainItemContainer/index.tsx
  frontend/src/pages/Category.tsx
  frontend/src/pages/Home.tsx
Labels: design, frontend

#168 feat: 프론트엔드 이미지 갤러리 사이즈 수정
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
Labels: frontend

#169 feat: README 2차 업데이트
  README.md
Labels: documentation

#173 style: 하트 수정, 갤러리 4개로 변경
  frontend/public/asset/icon/heart.svg
  frontend/public/asset/icon/redheart.svg
  frontend/src/components/home/MainItem/ItemImg.tsx
  frontend/src/components/home/MainItemGallery/GalleryImage.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#174 배포 테스트 후 일부 수정
  frontend/src/components/common/Layout/Footer.tsx
  frontend/src/components/common/Layout/Header.tsx
  frontend/src/components/common/PopUp/index.tsx
  frontend/src/constants/message.ts
  frontend/src/contexts/CartContext.tsx
  frontend/src/fetch/user/getToken.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
Labels: bug, frontend
